/*
Kleurcodes
  Donkerblauw:
    hex: #002B45
  Middenblauw:
    hex: #1B5786
  Lichtblauw:
    hex: #85BCE9
  Oranje:
    hex: #F6861F
  Donkergrijs:
    hex: #434950
  Middengrijs:
    hex: #6D6F71
  lichtgrijs:
    hex: #EEF0F1

font-family: DFDS Bold;
font-family: DFDS Light;

font-family: Segoe UI;

Voor titels altijd UPPERCASE en Bold.

*/

/* Generic styling */
* {
  box-sizing:border-box;
  font-family: DFDS Light;
  color: #002B45;
}

body{
  background-color: #EEF0F1;
  width: 100vw;
  margin:0;
}

a{
  font-family: DFDS Bold;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover{
  color: #1B5786;
}

h2, h3{
  font-family: DFDS Bold;
  text-transform: uppercase;
}

p{
  font-family: Segoe UI;
  font-weight: normal;
  font-size: 1.05em;
}

h2{
  text-align: center;
  font-size: 2em;
}

/*De header vormgeving*/

header{
  width: 100%;
  background-color: #FFF;
}

header>ul{
  padding: 0.5em;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

header>ul>li>button{
  padding-top: 1em;
}

header>ul>li>button>img{
  width: 4em;
  height: 3em;
}

/*De styles voor het eerste deel dat linkt naar populaire verhalen*/

section{
  background-color: #002B45;
}

section>img{
  width: 100vw;// 100% view width
}

section>h2{
  margin:0;
  margin-top: 1em;
  margin-left:2%;
}

section>h3{
  margin: 0 auto;
  color: #FFF;
  text-align: center;
}

section>p{
  margin: 2%;
  padding-bottom: 1em;
  color: #FFF;
}

section>p>a{
  color: #FFF;
}

section>button{
  width: 100vw;
  height: 2em;
  background-color: #F6861F;
  border: none;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
}

section>button>a{
  color: #fff;
}

select{
  margin-left: 20%;
  text-align: center;
  width: 60%;
  font-size: 1em;
  margin-bottom: 1em;
  border: 1px solid;
}

/*De artikelen die onder elkaar komen te staan */

article{
  background-color: #FFF;
  margin-bottom: 2em;
}

article>h3{
  margin: 0;
  padding-left: 1%;
  padding-top: 0.5em;
}

article>p{
  padding:1%;
  padding-top:0;
  margin-top:0;
}

article>img{
  width: 100vw;// 100% view width
}

article>button{
  margin-left: 2em;
}
article>button:nth-of-type(2){
    margin-left:60%;
}

article>button>img{
  width: 2.5em;
  height: 2.5em;
}

/*CSS voor de login*/
form{
  width: 30em;
  margin: auto;
  padding: auto;
  margin-top: 10em;
  border-style: solid 1px;
  border-color: #002B45;
  background-color: white;
}

fieldset{
  background-color: white;
}

fieldset > ul{
  padding: 0;
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: white;
}

label{
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
  background-color: white;
}

input{
  min-width: 25em;
  max-width: 30em;
  background-color: white;
  border-radius: 0.1rem;
}

/*
div>img{
  width: 100vw;
  visibility: hidden;
}*/

/*Styles voor de artikelen*/

.vrijdag{
  background-image: url("../images/vrijdag-03.png");
  background-size: 100vw;
  width: 100vw;
  height: 275em;
  background-repeat: no-repeat;
}

.moe{
  background-image: url("../images/moe-03.png");
  background-size: 100vw;
  width: 100vw;
  height: 275em;
  background-repeat: no-repeat;
}

.schoorsteen{
  background: url("../images/schoorsteen-03.png");
  background-size: 100vw;
  width: 100vw;
  height: 180em;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 47.5em){
  .vrijdag{
    background-image: url("../images/vrijdag-02.png");
    background-size: 100vw;
    width: 100vw;
    height: 173em;
    background-repeat: no-repeat;
  }

  .moe{
    background-image: url("../images/moe-02.png");
    background-size: 100vw;
    width: 100vw;
    height: 175em;
    background-repeat: no-repeat;
  }

  .schoorsteen{
    background: url("../images/schoorsteen-02.png");
    background-size: 100vw;
    width: 100vw;
    height: 76em;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 80em){
  .vrijdag{
    background-image: url("../images/vrijdag-01.png");
    background-size: 100vw;
    width: 100vw;
    height: 200em;
    background-repeat: no-repeat;
  }

  .moe{
    background-image: url("../images/moe-01.png");
    background-size: 100vw;
    width: 100vw;
    height: 200em;
    background-repeat: no-repeat;
  }

  .schoorsteen{
    background-color: #000;
    background: url("../images/schoorsteen-01.png");
    background-size: 100vw;
    width: 100vw;
    height: 100em;
    background-repeat: no-repeat;
  }
}
